img{
    width: 1650px;
    left: 0px;
    top: 100px;
    position: absolute;
}

.header{
    font-size: 50px;
    width: 1600px;
    margin: 0;
    padding-top:10px;
    padding-bottom:10px;
    height: 70px;
    color: rgb(255, 255, 255);
    background: rgb(240, 174, 116);
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom: 1px solid rgb(255, 249, 202);
}

.header :hover{
    font-size: 60px;
    color: rgb(105, 67, 10);
}

.text{
    font-size: 12px;
    top: 300px;
    left: 500px;
    position: absolute;
    width: 800px;
    z-index: 1;
}

.text1{
    left: 1000px;
    font-size: 30px;
    top: 400px;
    z-index: 2;
    position: absolute;
}

.text2{
    position: absolute;
    z-index: 2;
    left: 730px;
    font-size: 12px;
    top: 460px;
}